@charset "utf-8";
/* CSS Document */

body {
    font: 17px Lato, Arial, Helvetica, sans-serif;
    background: url(../img/bg-rodape.jpg) no-repeat center bottom fixed;
}

.clearfix {
    clear: both;
}

.conteudo {
    position: relative;
    width: 960px;
    margin: 0 auto;
    padding: 0 30px;
}

strong {
    font-weight: 900;
}

h2 {
    font-size: 45px;
    color: #F8C700 !important;
    line-height: 50px;
}

.bg-topo {
    position: absolute;
    width: 100%;
    height: 699px;
    background: url(../img/bg-topo.jpg) no-repeat center top fixed;
    
}



/************** 
     TOPO
**************/
.topo {
    margin: 0 auto 55px;
    padding-top: 25px;
}

.topo h1 {
    float: left;
}

.topo nav {
    float: right;
    width: 720px;
    height: 56px;
    margin-top: 87px;
    background: url(../img/bg-menu.png) no-repeat center;
}

.topo li {
    float: left;
    margin: 5px 0 0 0;
}

.topo li a {
    float: left;
    margin: 13px 26px 0;
    padding: 0 0 0 14px;
    background: url(../img/bullet-menu.png) no-repeat center left;
    color: #F8C600;
    font-weight: 900;
    text-decoration: none;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.topo li a:hover {
    color: #FFDC4F;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}






/************** 
     CHAMADA PRINCIPAL
**************/
.chamada-principal {
    height: 211px;
    background: url(../img/bg-chamada-principal.png) no-repeat center;
    color: #fff;
}

.chamada-principal h2 {
    font-size: 40px;
    font-weight: lighter;
    margin: 70px 0 0 70px;
    color: #fff;
	padding: 20px 0 0 140px;
}

.data-evento {
    float: left;
    font-size: 60px;
    font-weight: 900;
    margin: 0px 0 0 70px;
}

.data-evento span {
    color: #F8C700;
}

.valor-evento {
    float: right;
    margin: 20px 65px 0;
    color: #F8C700;
    text-align: center;
    font-size: 28px;
}

.valor-evento a {
    display: block;
    width: 268px;
    height: 58px;
    margin-top: 10px;
    background: url(../img/btn-inscricao-verde.png) no-repeat center top;
    text-indent: -9999px;
}

.valor-evento a:hover {
    background: url(../img/btn-inscricao-verde.png) no-repeat center bottom;
}


.box_social {
    display: inline-block;
    width: 400px;
}





/************** 
     SOBRE O EVENTO
**************/
.sobre {
    margin-top: 157px;
    background: #fff;
    text-align: center;
}

.sobre h2 {
    position: relative;
    top: -94px;
    width: 324px;
    height: 390px;
    margin: 0 auto;
    padding: 87px 40px 0 40px;
    color: #fff;
    background: url(../img/bg-titulo-sobre.png) no-repeat center top;
}

.sobre p {
    position: relative;
    top: -90px;
    font-size: 20px;
}

/************** 
     SOBRE O EVENTO
**************/
.palestras {
    position: relative;
    padding: 100px 0;
    background: #181914 url(../img/bg-palestras.jpg) no-repeat center top;
    color: #fff;
}

.palestras .profile {
  float: left;
  margin: 10px;

}

.palestrantes-info h2 {
  margin: 20px 0 0 0;
}


.schedule .box {
    margin-top: 30px;
    display: inline-block;
}

.schedule .box a.btn {
    padding: 6px 15px 6px 15px;
    font-size: 16px;
    margin: 20px 0px 0 20px;
    font-weight:lighter;
    color: #000;
    
}

.palestras figure.profile img {
    /* top-left corner */

    border-top-left-radius: 40px;
    -moz-border-radius-topleft: 40px;
    -webkit-border-top-left-radius: 40px;

    /* bottom-right corner */
    border-bottom-right-radius: 40px;
    -moz-border-radius-bottomright: 40px;
    -webkit-border-bottom-right-radius: 40px;

    /* bottom-left corner */
    border-bottom-left-radius: 40px;
    -moz-border-radius-bottomleft: 40px;
    -webkit-border-bottom-left-radius: 40px;
    
}

.palestras header p {
    font-size: 20px;
    margin-top: 15px;
}

/* PALESTRANTES */
.palestrante {
    width: 100%;
    clear: both;
    margin: 35px 0 0 0;
    padding: 35px 0 0 0;
    border-top: 1px solid #4B4B48;
}

.palestrante img {
    float: left;
    margin-right: 20px;
}

.palestrante-info {
    float: left;
    width: 765px;
}

.palestrante-info .horario {
    width: 153px;
    height: 36px;
    margin: 0 0 20px 0;
    padding: 5px 0 0 10px;
    background: url(../img/bg-horario.png) no-repeat top left;
    color: #000;
    font-weight: 900;
}

.palestrante-info h2 {
    font-size:30px;
    margin: 0;
}

.palestrante-info h3 {
    color: #F8C700 !important;
    font-size: 23px;
}



.palestrante-info h4 {
    color: #ccc !important;
    font-size: 18px;
    font-weight: lighter;
    line-height: 22px;
    font-style: italic;
}
.palestrante-info .palestrante-nome {
    margin: 0 0 15px;
    font-size: 20px;
}

.palestrante-info a {
    color: #fff;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.palestrante-info a:hover {
    color: #FFDC4F;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.palestrante-descricao {
    clear: both;
}






/************** 
     PARCEIROS
**************/
.parceiros {
    position: relative;
    padding: 100px 0;
    background: #fff;
}

.parceiros h2 {
    margin-bottom: 35px;
}

.patrocinadores,
.apoio {
    width: 45%;
}

.patrocinadores {
    float: left;
}

.patrocinadores figure {
  float: left;
  margin: 10px;
}

.apoio {
    float: right;
}




/************** 
     LOCAL
**************/
.local {
    position: relative;
    height: 547px;
    padding: 150px 0;
    background: url(../img/bg-local.png) no-repeat center top;
    color: #fff;
    font-size: 20px;
}

.local address {
    margin: 15px 0;
    font-weight: 600;
}

.info-adicional {
    margin: 15px 0;
}

.local a {
    color: #fff;
}

.local a:hover {
    color: #FFDC4F;
}

/************** 
     LOCAL
**************/
.rodape .conteudo {
    height: 350px;
    text-align: center;
}

.btn-topo {
    position: absolute;
    width: 384px;
    height: 90px;
    left: 50%;
    bottom: 0;
    margin-left: -192px;
}

.btn-topo a {
    position: relative;
    display: block;
    width: 100%;
    height: 33px;
    margin: 0 auto;
    padding-top: 57px;
    background: url(../img/btn-voltar-topo.png) no-repeat center top;
    color: #000;
    text-decoration: none;
}

.btn-topo a:hover {
    background: url(../img/btn-voltar-topo.png) no-repeat center bottom;
}

.creditos {
    padding: 8px 0;
    background: #000;
    color: #fff;
    text-align: center;
    font-size: 13px;
}

.creditos a {
    color: #fff;
}
 




/* =============================================================================
   MAIN LAYOUT
   ========================================================================== */
html {
  background:#F6F6F6;
  font:normal normal 10px/1.2em helvetica, arial, sans-serif;
  color:#777;
}

/* =============================================================================
   BASIC STYLES
   ========================================================================== */
h1, h2, h3, h4, h5, h6 {color:#2b2b2b;}

/* =============================================================================
   NAVIGATION
   ========================================================================== */
nav {background: #2b2b2b;}
.nav-link {color:#e7e7e7;}
.nav-link:active,
.nav-link:hover,
.nav-link:focus,
.nav-link.current {color:#fff;}

/* =============================================================================
   HEADER
   ========================================================================== */
.header {
  background-color: #2b2b2b;
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: 100% auto;
}
.logo-link, .tagline, .call-action-area .price {
  color:#fff;
  text-shadow: 1px 2px 1px rgba(0,0,0,.3);
}
.tagline {font-weight: normal;}
.call-action-area .price {color:#fddd52;}
.call-action-area .call-action-link, .btn {
  background-color: #fddd52;
  background-image: -moz-linear-gradient(top, #fddd52 30%, #f0a303 150%);
  background-image: -webkit-linear-gradient(top, #fddd52 30%, #f0a303 150%);
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#fddd52', endColorstr='#f0a303');
  background-image: linear-gradient(top, #fddd52 30%, #f0a303 150%);
  color:#2b2b2b;
  text-shadow: 0 1px 0 rgba(255,255,255,.5);
  box-shadow: 0 2px 3px 0 rgba(0,0,0,.4), inset 0 -2px 3px 0 #cc7f0a, inset 0 1px 0 0 #fff9b1;
  border-radius: 40px;
}

.github-link {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 11;
}

.github-link img {
  border: 0;
}

/* =============================================================================
   CONTENT
   ========================================================================== */
.content a {color:#f0a303;}
.content a:hover, .content a:focus {
  color:#fddd52;
  text-decoration: underline;
}

/* =============================================================================
   ABOUT
   ========================================================================== */
.about {
  border:1px solid #e7e7e7;
  background:#fff;
  border-radius:4px;
}

/* =============================================================================
   LOCATION
   ========================================================================== */
.location-area {
  background: #e7e7e7;
  border: 1px solid #ccc;
  border-radius: 4px;
  height: 300px;
}

/* =============================================================================
   SPEAKER
   ========================================================================== */
.speaker-photo .photo {
  border-radius: 50%;
  box-shadow: 0 0 0 8px rgba(0,0,0,.07);
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.speakers-item:hover .speaker-photo .photo {box-shadow: 0 0 0 8px rgba(0,0,0,.3);}
.speech-time {
  color:#fff;
  background:#2b2b2b;
  border-radius: 8px;
}

/* =============================================================================
   SCHEDULE
   ========================================================================== */
.schedule-tbl {
  background:#fff;
  border:1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.15);
}
.schedule-tbl table {background:#fff;}
.schedule-tbl td, .schedule-tbl th {border-bottom:1px solid #e7e7e7;}
.schedule-tbl tbody tr:nth-child(2n+1) {background:#f6f6f6;}
.schedule-tbl th {color:#2b2b2b;}
.schedule-tbl .speaker-photo .photo {box-shadow: 0 0 0 1px rgba(0,0,0,.3);}
.speakers-company {color:#999;}
.schedule-slot {color:#2b2b2b;}
.schedule-tbl tbody tr:hover {background:#fffde1;}
.schedule-coffee, .schedule-closing, .schedule-lunch, .schedule-other {color:#214f87;}

/* =============================================================================
   SPONSORS
   ========================================================================== */
.sponsor-link, .partner-link {
  background:#fff;
  border:1px solid #ccc;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.15);
}
.sponsor-link:hover, .sponsor-link:focus, .partner-link:hover, .partner-link:focus {border-color: #f0a303;}


/* =============================================================================
   CONTACT
   ========================================================================== */
.form input[type=text], .form input[type=email], .form textarea{
  color:#777;
  border:1px solid #e7e7e7;
  background:#fff;
  border-radius:4px;
}
.form input[type=text]:focus, .form input[type=email]:focus, .form textarea:focus {border-color:#aaa;outline:0;}


/* =============================================================================
   Media Queries
   ========================================================================== */

@media only screen and (max-width : 1024px) {
  .header {
    background-size: auto 100%;
  }
}
@media only screen and (max-width : 480px) {
  /* speakers */
  .speaker-photo .photo {box-shadow: 0 0 0 3px rgba(0,0,0,.07);}
  .speech-title {font-weight: bolder;}
  .speech-time {
    color:#2b2b2b;
    background: transparent;
    font-weight: bolder;
  }
  .github-link { display: none; }
}








